{% extends "AdminConfig/admin_template.html" %}

{% block headers_css %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-datetimepicker.min.css" %}">
{% endblock %}

{% block headers_js %}
<script src="{% static "js/moment.min.js" %}"></script>
<script src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>
<script type="text/javascript">
	$(function() {
		$('#{{ form.datetime_display.id_for_label }}').datetimepicker();
		$('#{{ form.datetime_start.id_for_label }}').datetimepicker();
		$('#{{ form.datetime_finish.id_for_label }}').datetimepicker();
		$("#id_compname").keyup( function() { var compname = $("#id_compname").val();
			$("#id_compurl").val(compname.toLowerCase().replace(/\s/g, '_').replace(/[^\w]/gi, ''));
		});
	});
</script>
{% endblock %}

{% block sidebar_id %}sidebar_competitions{% endblock %}

{% block page_content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	{% autoescape off %}
	<h2>New Competition</h2>
	<form action="/admin/competitions/create/" method="post" class="form-horizontal">
		{% csrf_token %}
		{{ form.compname.errors}}
		<label for="{{ form.compname.id_for_label }}" class="col-lg-2 control-label">{{ form.compname.label }}</label>
		<div class="col-lg-10">{{ form.compname }}<br></div>

		{{ form.compurl.errors }}
		<label for="{{ form.compurl.id_for_label }}" class="col-lg-2 control-label">{{ form.compurl.label }}</label>
		<div class="col-lg-10">{{ form.compurl }}<br></div>

		{{ form.datetime_display.errors }}
		<label for="{{ form.datetime_display.id_for_label }}" class="col-lg-2 control-label">{{ form.datetime_display.label }}</label>
		<div class="col-lg-10 input-append">{{ form.datetime_display }}<br></div>

		{{ form.datetime_start.errors }}
		<label for="{{ form.datetime_start.id_for_label }}" class="col-lg-2 control-label">{{ form.datetime_start.label }}</label>
		<div class="col-lg-10 input-append">{{ form.datetime_start }}<br></div>

		{{ form.datetime_finish.errors }}
		<label for="{{ form.datetime_finish.id_for_label }}" class="col-lg-2 control-label">{{ form.datetime_finish.label }}</label>
		<div class="col-lg-10 input-append">{{ form.datetime_finish }}<br></div>

		{{ form.description_short.errors }}
		<label for="{{ form.description_short.id_for_label }}" class="col-lg-2 control-label">{{ form.description_short.label }}</label>
		<div class="col-lg-10">{{ form.description_short }}<br></div>

		{{ form.description_full.errors }}
		<label for="{{ form.description_full.id_for_label }}" class="col-lg-2 control-label">{{ form.description_full.label }}</label>
		<div class="col-lg-10">{{ form.description_full }}<br></div>

		<div class="col-lg-10 col-lg-offset-2">
			<a class="btn btn-default" href="/admin/competitions/">Cancel</a>
			<button type="submit" class="btn btn-primary">Create</button>
		</div>
	</form>
</div>
{% endautoescape %}
{% endblock %}
