{% extends "competition/competitionTemplate.html" %}

{% block headers_css %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-datetimepicker.min.css" %}">
{% endblock %}

{% block headers_js %}
<script src="{% static "js/moment.min.js" %}"></script>
<script src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>
<script type="text/javascript">
	$(function() {
		$('#{{ form.dt_delivery.id_for_label }}').datetimepicker();
		$('#{{ form.dt_response_due.id_for_label }}').datetimepicker();
		$('#{{ form.dt_response_close.id_for_label }}').datetimepicker();
		$('#id_require_response').click(function () {
			$('#id_dt_response_due').prop('disabled', function(idx, oldProp) { return !oldProp; });
			$('#id_dt_response_close').prop('disabled', function(idx, oldProp) { return !oldProp; });
			$('#id_dt_response_due').val('');
			$('#id_dt_response_close').val('');
		});
	});
	$(document).ready(function() {
		if (!$('#id_require_response').attr('checked')) {
			$('#id_dt_response_due').attr('disabled', true);
			$('#id_dt_response_close').attr('disabled', true);
		}
	});
</script>
{% endblock %}

{% block sidebar_id %}sidebar_injects{% endblock %}

{% block page_content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h2> Create Inject </h2>
	{% if action == "create" %}
	<form action="/organization/{{ organization.url }}/competitions/{{ competition.url }}/injects/{{ action }}/" method="post" class="form-horizontal" enctype="multipart/form-data">
	{% else%}
	<form action="/organization/{{ organization.url }}/competitions/{{ competition.url }}/injects/{{ action }}/{{ ijctid }}/" method="post" class="form-horizontal" enctype="multipart/form-data">
	{% endif %}
		{% csrf_token %}
		{{ form.title.errors}}
		<label for="{{ form.title.id_for_label }}" class="col-lg-2 control-label">{{ form.title.label }}</label>
		<div class="col-lg-10">{{ form.title }}<br></div>

		{{ form.body.errors}}
		<label for="{{ form.body.id_for_label }}" class="col-lg-2 control-label">{{ form.body.label }}</label>
		<div class="col-lg-10">{{ form.body }}<br></div>

		{{ form.dt_delivery.errors}}
		<label for="{{ form.dt_delivery.id_for_label }}" class="col-lg-2 control-label">{{ form.dt_delivery.label }}</label>
		<div class="col-lg-10">{{ form.dt_delivery }}<br></div>

		{{ form.require_response.errors}}
		<label for="{{ form.require_response.id_for_label }}" class="col-lg-2 control-label">{{ form.require_response.label }}</label>
		<div class="col-lg-10">{{ form.require_response }}<br><br></div>

		{{ form.dt_response_due.errors}}
		<label for="{{ form.dt_response_due.id_for_label }}" class="col-lg-2 control-label">{{ form.dt_response_due.label }}</label>
		<div class="col-lg-10">{{ form.dt_response_due }}<br></div>

		{{ form.dt_response_close.errors}}
		<label for="{{ form.dt_response_close.id_for_label }}" class="col-lg-2 control-label">{{ form.dt_response_close.label }}</label>
		<div class="col-lg-10">{{ form.dt_response_close }}<br></div>

		{{ form.docfile.errors }}
		<label for="{{ form.docfile.id_for_label }}" class="col-lg-2 control-label">{{ form.docfile.label }}</label>
		<div class="col-lg-10">{{ form.docfile }}<br></div>

		<div class="col-lg-10 col-lg-offset-2">
			<a class="btn btn-default" href="/organization/{{ organization.url }}/competitions/{{ competition.url }}/injects/">Cancel</a>
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</form>
</div>
{% endblock %}
