{% extends "competition/competitionTemplate.html" %}

{% block headers_css %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-datetimepicker.min.css" %}">
{% endblock %}

{% block headers_js %}
<script src="{% static "js/moment.min.js" %}"></script>
<script src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>
<script type="text/javascript">
	$(function() {
		$('#{{ form.datetimeDelivery.id_for_label }}').datetimepicker();
		$('#{{ form.datetimeResponseDue.id_for_label }}').datetimepicker();
		$('#{{ form.datetimeResponseClose.id_for_label }}').datetimepicker();
		$('#{{ form.requireResponse.id_for_label }}').click(function () {
			$('#{{ form.datetimeResponseDue.id_for_label }}').prop('disabled', function(idx, oldProp) { return !oldProp; });
			$('#{{ form.datetimeResponseClose.id_for_label }}').prop('disabled', function(idx, oldProp) { return !oldProp; });
			$('#{{ form.datetimeResponseDue.id_for_label }}').val('');
			$('#{{ form.datetimeResponseClose.id_for_label }}').val('');
		});
	});
	$(document).ready(function() {
		if (!$('#{{ form.requireResponse.id_for_label }}').attr('checked')) {
			$('#{{ form.datetimeResponseDue.id_for_label }}').attr('disabled', true);
			$('#{{ form.datetimeResponseClose.id_for_label }}').attr('disabled', true);
		}
	});
</script>
{% endblock %}

{% block sidebar_id %}sidebar_injects{% endblock %}

{% block page_content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h2> Create Inject </h2>
	{% if action == "create" %}
	<form action="/organization/{{ organization.url }}/competitions/{{ competition.url }}/injects/{{ action }}/" method="post" class="form-horizontal" enctype="multipart/form-data">
	{% else%}
	<form action="/organization/{{ organization.url }}/competitions/{{ competition.url }}/injects/{{ action }}/{{ inject.injectId }}/" method="post" class="form-horizontal" enctype="multipart/form-data">
	{% endif %}
		{% csrf_token %}
		{{form}}
		<div class="col-lg-10 col-lg-offset-2">
			<a class="btn btn-default" href="/organization/{{ organization.url }}/competitions/{{ competition.url }}/injects/">Cancel</a>
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</form>
</div>
{% endblock %}
