{% extends "competition/competitionTemplate.html" %}

{% block headers_css %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-datetimepicker.min.css" %}">
{% endblock %}

{% block headers_js %}
<script src="{% static "js/moment.min.js" %}"></script>
<script src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>
<script>
	$(function () {
		$('#{{ form.datetime_start.id_for_label }}').datetimepicker();
		$('#{{ form.datetime_finish.id_for_label }}').datetimepicker();
		var serv_json_conf_obj = $('#{{ form.service.config.id_for_label }}')
		serv_json_conf_obj.focusout(
			function() {
				// Replaces any single quotes with double quotes (screws up apostophes TODO: fix this somehow)
				serv_json_conf_obj.val(serv_json_conf_obj.val().replace(/\'/g, '\"'));
				// Checks if the submission should be locked
				var score_config = serv_json_conf_obj.val();
				try {
					JSON.parse(score_config);
				} catch (e) {
					// Bad json object, need to disable submit button
					if (!$('#form_sub_button').hasClass('disabled')) {
						$('#form_sub_button').addClass('disabled')
						$('#form_messages').html('Unable to parse json object in \'Score Configuration\' field.')
					}
					return
				}
				// The json object is good, and we should remove the disabled class if it's there
				if ($('#form_sub_button').hasClass('disabled')) {
					$('#form_sub_button').removeClass('disabled')
					$('#form_messages').html('')
				}
			}
		);
	});
</script>
{% endblock %}

{% block sidebar_id %}sidebar_services{% endblock %}

{% block page_content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	{% if action == "create" %}
	<h2> Create Service </h2>
	<form action="/organization/{{ organization.url }}/competitions/{{ competition.url }}/services/{{ action }}/" method="post" class="form-horizontal">
	{% else%}
	<h2> Edit Service </h2>
	<form action="/organization/{{ organization.url }}/competitions/{{ competition.url }}/services/{{ action }}/{{ servid }}/" method="post" class="form-horizontal">
	{% endif %}
		{% csrf_token %}
		<!-- Form field for module name -->
		{{ form.servicemodule.errors }}
		<label for="{{ form.servicemodule.id_for_label }}" class="col-lg-2 control-label">{{ form.servicemodule.label }}</label>
		<div class="col-lg-10">{{ form.servicemodule }}<br></div>

		<!-- Form field for service name -->
		{{ form.name.errors}}
		<label for="{{ form.name.id_for_label }}" class="col-lg-2 control-label">{{ form.name.label }}</label>
		<div class="col-lg-10">{{ form.name }}<br></div>

		<!-- Form field for service start datetime -->
		{{ form.datetime_start.errors }}
		<label for="{{ form.datetime_start.id_for_label }}" class="col-lg-2 control-label">{{ form.datetime_start.label }}</label>
		<div class="col-lg-10 input-append">{{ form.datetime_start }}<br></div>

		<!-- Form field for service finish datetime -->
		{{ form.datetime_finish.errors }}
		<label for="{{ form.datetime_finish.id_for_label }}" class="col-lg-2 control-label">{{ form.datetime_finish.label }}</label>
		<div class="col-lg-10 input-append">{{ form.datetime_finish }}<br></div>

		<!-- Form field for points -->
		{{ form.connectip.errors}}
		<label for="{{ form.connectip.id_for_label }}" class="col-lg-2 control-label">{{ form.connectip.label }}</label>
		<div class="col-lg-10">{{ form.connectip }}<br></div>

		<!-- Form field for subdomain name -->
		{{ form.networkloc.errors }}
		<label for="{{ form.networkloc.id_for_label }}" class="col-lg-2 control-label">{{ form.networkloc.label }}</label>
		<div class="col-lg-10">{{ form.networkloc }}<br></div>

		<!-- Form field for points -->
		{{ form.defaultport.errors}}
		<label for="{{ form.defaultport.id_for_label }}" class="col-lg-2 control-label">{{ form.defaultport.label }}</label>
		<div class="col-lg-10">{{ form.defaultport }}<br></div>

		<!-- Form field for points -->
		{{ form.points.errors}}
		<label for="{{ form.points.id_for_label }}" class="col-lg-2 control-label">{{ form.points.label }}</label>
		<div class="col-lg-10">{{ form.points }}<br></div>
		
		<!-- Form field for description -->
		{{ form.description.errors}}
		<label for="{{ form.description.id_for_label }}" class="col-lg-2 control-label">{{ form.description.label }}</label>
		<div class="col-lg-10">{{ form.description }}<br></div>

		<div class="col-lg-offset-2 col-lg-10">
			<a class="btn btn-default" href="/organization/{{ organization.url }}/competitions/{{ competition.url }}/services/">Cancel</a>
			<button id="form_sub_button" type="submit" class="btn btn-primary">Save</button>
			<label id="form_messages"></label>
		</div>
	</form>
</div>
{% endblock %}
