{% extends "administrator/adminPageTemplate.html" %}

{% block sidebar_id %}sidebar_servicemodules{% endblock %}

{% block page_content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	{% if action == "create" %}
	<form action="/admin/plugins/create/" method="post" class="form-horizontal" enctype="multipart/form-data">
	{% else %}
	<form action="/admin/plugins/edit/{{pluginId}}/" method="post" class="form-horizontal" enctype="multipart/form-data">
	{% endif %}
		{% csrf_token %}
		{{ form.name.errors }}
		<label for="{{ form.name.id_for_label }}" class="col-lg-2 control-label">{{ form.name.label }}</label>
		<div class="col-lg-10">{{ form.name }}<br></div>

		{{ form.description.errors }}
		<label for="{{ form.description.id_for_label }}" class="col-lg-2 control-label">{{ form.description.label }}</label>
		<div class="col-lg-10">{{ form.description }}<br></div>

		{% if docfile %}
		<label class = "col-lg-2 control-label">Current file</label>
		<div class="col-lg-10"><p>{{docfile.filename}} (md5: {{docfile.filehash}})</p><br></div>
		{% endif %}

		{{ form.pluginFile.errors }}
		<label for="{{ form.pluginFile.id_for_label }}" class="col-lg-2 control-label">{{ form.pluginFile.label }}</label>
		<div class="col-lg-10">{{ form.pluginFile }}<br></div>

		<div class="col-lg-10 col-lg-offset-2">
			<a class="btn btn-default" href="/admin/plugins/">Cancel</a>
			<button id="form_sub_button" type="submit" class="btn btn-primary">Save</button>
		</div>
	</form>
</div>
{% endblock %}
