{% extends "competition/templates/whiteteam/pageTemplate.html" %}

{% block page_content %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    {{ competition.name }} - Edit Incident
    <!-- <small>it all starts here</small> -->
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Site Home</a></li>
    <li><a href="/admin/home">Admin</a></li>
    <li class="active"><a href="/admin/home">Home</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
</section>
{% endblock %}