{% extends "competition/templates/whiteteam/pageTemplate.html" %}

{% block sidebar_id %}sidebar_injects{% endblock %}

{% block page_content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="page-header">
		<h1> {{ competition.name }} - Injects</h1>
	</div>
	<a href="/competition/{{ competition.id }}/teamwhite/injects/create/" class="btn btn-primary">Create Inject</a>
	<br>
	<br>
	{% if apiData %}
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Manual Delivery</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for i in apiData %}
			<tr>
				<th>{{ i.id }}</th>
				<th>{{ i.title }}</th>
				<th>{{ i.manualDelivery }}</th>
				<th>
					{% if i.manualDelivery %}
					{# This will eventually also have to check if the competition is already started. If not, don't show the button. #}
					<a href="/competition/{{ i.id }}/teamwhite/inject/deliver/" class="btn-sm btn-success">Deliver</a>
					{% endif %}
					<a href="/competition/{{ i.id }}/teamwhite/inject/edit/" class="btn-sm btn-primary">Manage</a>
					<a href="/competition/{{ organization.id }}/manage/delete/" class="btn-sm btn-danger">Delete </a>
				</th>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>No injects have been created yet. Go ahead and make one!</p>
	{% endif %}
</div>
{% endblock %}
