{% extends "competition/templates/whiteteam/pageTemplate.html" %}

{% block sidebar_id %}sidebar_teams{% endblock %}

{% block page_content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="page-header">
		<h1> {{ competition.name }} - Teams</h1>
	</div>
	<a href="/competition/{{ competition.id }}/teamwhite/teams/create/" class="btn btn-primary">Create Team</a>
	<br><br>
	{% if apiData %}
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Team Name</th>
				<th>Username</th>
				<th>CIDR</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for i in apiData %}
			<tr>
				<th>{{ i.id }}</th>
				<th>{{ i.name }}</th>
				<th>{{ i.username }}</th>
				<th>{{ i.networkCidr }}</th>
				<th>
					<a href="/competition/{{ competition.id }}/teamwhite/teams/edit/{{ i.id }}/" class="btn-sm btn-primary">Edit</a>
					<a href="/competition/{{ organization.id }}/manage/delete/" class="btn-sm btn-danger">Delete </a>
				</th>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>No teams have been created yet. Go ahead and make one!</p>
	{% endif %}
</div>
{% endblock %}