{% extends "competition/templates/whiteteam/pageTemplate.html" %}

{% block headers_js %}
<script>
	function setItemFocus(id, name, type) {
		document.getElementById("item_name").innerHTML = name;
		document.getElementById("item_type").innerHTML = type
		document.getElementById("item_id").value = id
	}
</script>
{% endblock %}

{% block page_content %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    {{ competition.name }} - Teams
    <!-- <small>it all starts here</small> -->
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Site Home</a></li>
    <li><a href="/admin/home">Admin</a></li>
    <li class="active"><a href="/admin/home">Home</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
	<p>These are the teams that exist within the competition.<br>
	<a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createteammodel">Create Team</a></p>
	{% if apiData %}
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Team Name</th>
					<th>Username</th>
					<th>CIDR</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for i in apiData %}
				<tr>
					<td>{{ i.id }}</td>
					<td>{{ i.name }}</td>
					<td>{{ i.username }}</td>
					<td>{{ i.networkCidr }}</td>
					<td>
						<a href="/competition/{{ competition.id }}/teamwhite/teams/edit/{{ i.id }}/" class="btn-sm btn-primary">Edit</a>
						<a href="#" class="btn-sm btn-danger" onclick="setItemFocus({{i.id}}, '{{i.name}}', 'Team');" data-toggle="modal" data-target="#deleteitemmodel"> Delete </a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p>No teams have been created yet. Go ahead and make one!</p>
	{% endif %}
</section><!-- /.content -->

<!-- Create Team Modal -->
<div class="modal fade" id="createteammodel" tabindex="-1" role="dialog" aria-labelledby="createteammodellable" style="display: none;" data-backdrop="">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="createteammodellable">Create Team</h4>
      </div>
      <form action="/competition/{{ competition.id }}/teamwhite/teams/create/" method="post" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
        	{{ forms.form_create }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"> Cancel </button>
          <button id="form_sub_button" type="submit" class="btn btn-primary"> Save </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete Item Model -->
<div class="modal fade" id="deleteitemmodel" tabindex="-1" role="dialog" aria-labelledby="deleteitemmodellable" style="display: none;" data-backdrop="">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteitemmodellable">Delete <span id="item_type"></span></h4>
      </div>
      <form action="/competition/{{ competition.id }}/teamwhite/teams/delete/" method="post" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="competition" value="{{ competition.id }}">
        <input id="item_id" type="hidden" name="pkid" value="">
        <div class="modal-body">
        	<p> Are you sure you want to delete '<span id="item_name"></span>'? This action cannot be reversed.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"> Cancel </button>
          <button id="form_sub_button" type="submit" class="btn btn-danger"> Delete </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
