{% extends "competition/templates/whiteteam/pageTemplate.html" %}

{% block page_content %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    {{ competition.name }} - Services
    <!-- <small>it all starts here</small> -->
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Site Home</a></li>
    <li><a href="/admin/home">Admin</a></li>
    <li class="active"><a href="/admin/home">Home</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
	{% if pluginsAvailable %}
	<a href="/organization/{{ organization.url }}/competitions/{{ competition.url }}/services/create/" class="btn btn-primary">Create Service</a>
	{% else %}
	<p>There are no service modules available. Service creation requires the use of a Service Module. Contact your site administrator to resolve this problem.</p>
	{% endif %}
	<br><br>

	{% if services %}
	{% for i in services %}
	<div class="panel panel-default">
		<div class="panel-heading"> {{i.name}} </div>
		<div class="panel-body">
			<strong>Module: </strong>{{ i.servicemodule.modulename }}<br>
			<strong>Name: </strong>{{ i.name }}<br>
			<strong>Start Scoring: </strong>{{ i.datetimeStart }}<br>
			<strong>Finish Scoring: </strong>{{ i.datetimeFinish }}<br>
			<strong>Machine IP: </strong>{{ i.machineIp }}<br>
			<strong>Machine FQDN: </strong>{{ i.machineFqdn }}<br>
			<strong>Default Port: </strong>{{ i.defaultPort }}<br>
			<strong>Points: </strong>{{ i.points }}<br>
			<strong>Description: </strong><br>
			{{ i.description }}
			<div class="bt-component pull-right">
				<a href="/organization/{{ organization.url }}/competitions/{{ competition.url }}/services/edit/{{ i.serviceId }}/" class="btn btn-primary">Edit</a>
				<a href="#" class="btn btn-danger">Delete</a>
			</div>
		</div>
	</div>
	{% endfor %}
	{% else %}
	{% if pluginsAvailable %}
	<p>No services have been created yet. Go ahead and make one!</p>
	{% endif %}
	{% endif %}
</section>
{% endblock %}
