{% extends "competition/templates/whiteteam/pageTemplate.html" %}

{% block sidebar_id %}sidebar_teams{% endblock %}

{% block page_content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="page-header">
		<h1> {{ competition.name }} - Teams</h1>
	</div>
	<a href="/competition/{{ competition.url }}/teamwhite/teams/create/" class="btn btn-primary">Create Team</a>
	<br><br>
	{% if teams %}
	{% for i in teams %}
	<div class="panel panel-default">
		<div class="panel-heading">{{ i.teamname }}</div>
		<div class="panel-body">
			<strong>Name: </strong>{{ i.teamname }}<br>
			<strong>Loginname: </strong>{{ i.loginname }}<br>
			<strong>Password: </strong>{{ i.password }}<br>
			<strong>CIDR: </strong>{{ i.networkCidr }}<br>
			<strong>Score Configurations: </strong>{{ i.scoreConfigurations }}
			<div class="bt-component pull-right">
				<a href="/competition/{{ competition.url }}/teamwhite/teams/edit/{{ i.id }}" class="btn btn-primary">Edit</a>
				<a href="#" class="btn btn-danger">Delete</a>
			</div>
		</div>
	</div>
	{% endfor %}
	{% else %}
	<p>No teams have been created yet. Go ahead and make one!</p>
	{% endif %}
</div>
{% endblock %}
