{% extends "sitePageTemplate.html" %}

{% block sidebarmenu %}
<ul class="sidebar-menu">
  <li class="header">MAIN NAVIGATION</li>
  <li>
    <a href="/competition/{{ competition.id }}/teamwhite/summary/">
      <i class="fa fa-home"></i> <span>Summary</span>
    </a>
  </li>
  <li class="header">CONFIGURATION</li>
  <li>
    <a href="/competition/{{ competition.id }}/teamwhite/settings/">
      <i class="fa fa-gear"></i> <span>Settings</span>
    </a>
  </li>
  <li>
    <a href="/competition/{{ competition.id }}/teamwhite/services/">
      <i class="fa fa-server"></i> <span>Services</span>
    </a>
  </li>
  <li>
    <a href="/competition/{{ competition.id }}/teamwhite/teams/">
      <i class="fa fa-users"></i> <span>Teams</span>
    </a>
  </li>
  <li>
    <a href="/competition/{{ competition.id }}/teamwhite/injects/">
      <i class="fa fa-envelope"></i> <span>Injects</span>
    </a>
  </li>
  <li class="header">REVIEW</li>
  <li>
    <a href="/competition/{{ competition.id }}/teamwhite/injectresponses/">
      <i class="fa fa-comments"></i> <span>Inject Response</span>
    </a>
  </li>
  <li>
    <a href="/competition/{{ competition.id }}/teamwhite/incidents/">
      <i class="fa fa-eye"></i> <span>Incidents</span>
    </a>
  </li>
  <li>
    <a href="/competition/{{ competition.id }}/teamwhite/incidentresponses/">
      <i class="fa fa-exclamation-circle"></i> <span>Incident Response</span>
    </a>
  </li>
  <li>
    <a href="/competition/{{ competition.id }}/teamwhite/scores/">
      <i class="fa fa-check"></i> <span>Scores</span>
    </a>
  </li>
</ul>
{% endblock %}
