{% extends "sitePageTemplate.html" %}


{% block authed_navbar_links %}
{% if auth_name == "auth_team_white" %}
<li><a href="/admin/">Admin Config</a></li>
{% elif auth_name == "auth_team_blue" %}
<li><a href="/competitions/{{ competition_object.compurl }}/summary/">Competition</a></li>
{% endif %}
{% endblock %}

{% block sidebarmenu %}
<ul class="sidebar-menu">
  <li class="header">MAIN NAVIGATION</li>
  <li>
    <a href="/">
      <i class="fa fa-home"></i> <span>Home</span>
    </a>
  </li>
  <li>
    <a href="/updates">
      <i class="fa fa-newspaper-o"></i> <span>Updates</span>
    </a>
  </li>
  <li>
    <a href="/contact">
      <i class="fa fa-envelope-o"></i> <span>Contact</span>
    </a>
  </li>
</ul>
{% endblock %}

{% block page_content %}
  <section class="content-header">
    <h1>Contact</h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i> Site Home </a></li>
      <li class="active"><a href="/contact"> Contact </a></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <h4>A note to users:</h4>
    <p>
      The site administrator can be contacted at <b>admin@domain.tld</b>
    <p>
  </section><!-- /.content -->
{% endblock %}
