{% extends "AdminConfig/admin_template.html" %}

{% block sidebar_id %}sidebar_servicemodules{% endblock %}

{% block page_content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="jumbotron">
		<h1>Service Module List</h1>
		<p>The following are currently available service modules. Select a service module to edit or test it, or create a new one.</p><br>
		<a class="btn btn-primary btn-lg" href="/admin/servicemodules/create/">New Service Module</a>
	</div>
	{% if pluginList %}
	{% for i in pluginList %}
	<div class="panel panel-default">
		<div class="panel-heading">{{ i.name }}</div>
		<div class="panel-body">
			<strong>Filename: </strong>{{i.file.filename}}<br>
			<strong>Filehash: </strong>{{i.file.filehash}}<br>
			<strong>Description: </strong>
			<p>{{ i.description }}</p>
			<div class="bt-component pull-right">
				<a href="/admin/servicemodules/test/{{ i.module.servmdulid }}/" class="btn btn-primary">Test</a>
				<a href="/admin/servicemodules/edit/{{ i.module.servmdulid }}/" class="btn btn-primary">Edit</a>
				<a href="/admin/servicemodules/delete/{{ i.module.servmdulid }}/" class="btn btn-danger">Delete</a>
			</div>
		</div>
	</div>
	{% endfor %}
	{% else %}
	<p>No service modules have been created yet. Go ahead and make one!</p>
	{% endif %}
</div>
{% endblock %}
