{% extends "administrator/templates/pageTemplate.html" %}

{% block page_content %}
  <section class="content-header">
    <h1>Organizations</h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i> Site Home </a></li>
      <li><a href="/admin/home">Admin</a></li>
      <li class="active"><a href="/admin/organizations"> Organizations </a></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <p>The following are currently available organizations. Here you can create, edit or delete organizations.</p>
    <a class="btn btn-primary btn-sm" href="/admin/organizations/create/">New Organization</a>

    {% if apiData %}
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for i in apiData %}
        <tr>
          <td>{{ i.id }}</td>
          <td>{{ i.name }}</td>
          <td>{{ i.description }}</td>
          <td>
            <a href="/organization/{{ i.id }}/home/" class="btn-sm btn-success">Org Home</a>
            <a href="/admin/organizations/edit/{{ i.id }}/" class="btn-sm btn-primary">Edit</a>
            {% if i.deletable %}
            <a href="/admin/users/delete/{{ i.id }}/" class="btn-sm btn-danger">Delete</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No organizations have been created yet. Go ahead and make one!</p>
    {% endif %}

  </section><!-- /.content -->
{% endblock %}
