{% extends "administrator/templates/adminPageTemplate.html" %}

{% block sidebar_id %}sidebar_servicemodules{% endblock %}

{% block page_content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="jumbotron">
		<h1>Plugin List</h1>
		<p>The following are currently available plugins. Select a plugin to edit or test it, or create a new one.</p><br>
		<a class="btn btn-primary btn-lg" href="/admin/plugins/create/">New Plugin</a>
	</div>
	{% if plugins %}
	{% for i in plugins %}
	<div class="panel panel-default">
		<div class="panel-heading">{{ i.name }}</div>
		<div class="panel-body">
			<strong>Filename: </strong>{{i.document.filename}}<br>
			<strong>Filehash: </strong>{{i.document.fileHash}}<br>
			<strong>Description: </strong>
			<p>{{ i.description }}</p>
			<div class="bt-component pull-right">
				<a href="/admin/plugins/test/{{ i.pluginId }}/" class="btn btn-primary">Test</a>
				<a href="/admin/plugins/edit/{{ i.pluginId }}/" class="btn btn-primary">Edit</a>
				<form class="pull-right" action="/admin/plugins/" method="POST">
					{% csrf_token %}
					{{ i.deleteForm }}
					<input class="btn btn-danger" type="submit" value="Delete">
				</form>
			</div>
		</div>
	</div>
	{% endfor %}
	{% else %}
	<p>No plugins have been created yet. Go ahead and make one!</p>
	{% endif %}
</div>
{% endblock %}
