{% extends "administrator/templates/pageTemplate.html" %}

{% block headers_js %}
<script>
	function setUserFocus(id, name) {
		document.getElementById("user_name").innerHTML = name;
		document.getElementById("user_id").value = id
	}
</script>
{% endblock %}


{% block page_content %}
  <section class="content-header">
    <h1>Users</h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i> Site Home </a></li>
      <li><a href="/admin/home"> Admin </a></li>
      <li class="active"><a href="/admin/users"> Users </a></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <p>The following are currently available users. Here you can create, edit or delete users.</p>
    <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createusermodel">New User</a>
    {% if apiData %}
	<!-- Form for submitting account deletions -->
	<form id="deleteuserform" action="/admin/users/delete">
		{{ form }}
		<input id="deleteuserid" type="hidden" name="userid" value="">
	</form>
	<!-- List of users -->
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Username</th>
				<th>Organization</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for i in apiData %}
			<tr>
				<td>{{ i.id }}</td>
				<td>{{ i.name }}</td>
				<td>{{ i.username }}</td>
				<td>{{ i.organization }}</td>
				<td>
					<a href="/admin/users/edit/{{ i.id }}/" class="btn-sm btn-primary" style="margin-right: 10px;"> Edit </a>
					<a href="#" class="btn-sm btn-danger" onclick="setUserFocus({{i.id}}, '{{i.name}}');" data-toggle="modal" data-target="#deleteusermodel"> Delete </a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>No users have been created yet. Go ahead and make one!</p>
	{% endif %}
  </section><!-- /.content -->

<!-- Modal -->
<div class="modal fade" id="createusermodel" tabindex="-1" role="dialog" aria-labelledby="createusermodellable" style="display: none;" data-backdrop="">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="createusermodellable">Create User</h4>
      </div>
      <form action="/admin/users/create/" method="post" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
          <label for="{{ form.name.id_for_label }}">{{ forms.form_create.name.label }}</label>
          <div>{{ forms.form_create.name }}</div>

          <label for="{{ form.username.id_for_label }}">{{ forms.form_create.username.label }}</label>
          <div>{{ forms.form_create.username }}<br></div>

          <label for="{{ form.password.id_for_label }}">{{ forms.form_create.password.label }}</label>
          <div>{{ forms.form_create.password }}<br></div>

          <label for="{{ form.organization.id_for_label }}">{{ forms.form_create.organization.label }}</label>
          <div>{{ forms.form_create.organization }}<br></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"> Cancel </button>
          <button id="form_sub_button" type="submit" class="btn btn-primary"> Save </button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteusermodel" tabindex="-1" role="dialog" aria-labelledby="deleteusermodellable" style="display: none;" data-backdrop="">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteusermodellable">Delete User</h4>
      </div>
      <form action="/admin/users/delete/" method="post" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        <input id="user_id" type="hidden" name="pkid" value="">
        <div class="modal-body">
        	<p> Are you sure you want to delete user '<span id="user_name"></span>'? This action cannot be reversed.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"> Cancel </button>
          <button id="form_sub_button" type="submit" class="btn btn-danger"> Delete </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
