{% extends "sitePageTemplate.html" %}

{% block authed_navbar_links %}
<li class="active"><a href="/admin/">Admin Config</a></li>
{% endblock %}

{% block sidebar %}
<div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-sidebar">
		<li id="sidebar_home">
			<a href="/admin/home/">Home</a>
		</li>
		<li id="sidebar_users">
			<a href="/admin/users/">Users</a>
		</li>
		<li id="sidebar_organizations">
			<a href="/admin/organizations/">Organizations</a>
		</li>
		<!-- <li id="sidebar_servicemodules">
			<a href="/admin/plugins/">Plugins</a> -->
		</li>
		<li id="sidebar_siteconfigs">
			<a href="/admin/siteconfigs">Site Configs</a>
		</li>
		<li id="sidebar_account" class="disabled">
			<a>Account</a>
		</li>
	</ul>
</div>
{% endblock %}
