{% extends "sitePageTemplate.html" %}

{% block sidebarmenu %}
<ul class="sidebar-menu">
  <li class="header">MAIN NAVIGATION</li>
  <li>
    <a href="/admin/">
      <i class="fa fa-home"></i> <span>Home</span>
    </a>
  </li>
  <li>
    <a href="/admin/siteconfigs/">
      <i class="fa fa-gear"></i> <span>Site Configs</span>
    </a>
  </li>
  <li>
    <a href="/admin/users">
      <i class="fa fa-user"></i> <span>Users</span>
    </a>
  </li>
  <li>
    <a href="/admin/organizations">
      <i class="fa fa-users"></i> <span>Organizations</span>
    </a>
  </li>
  <li class="treeview">
    <a href="/admin/plugins">
      <i class="fa fa-puzzle-piece"></i> <span>Plugins</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/admin/plugins/pluginname"><i class="fa fa-circle-o text-red"></i> CTF </a></li>
      <li><a href="/admin/plugins/pluginname"><i class="fa fa-circle-o text-aqua"></i> CCDC </a></li>
    </ul>
  </li>
</ul>
{% endblock %}
