<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/resources/static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/resources/static/css/bootstrap-dashboard.css">
		<link rel="stylesheet" type="text/css" href="/resources/static/css/bootstrap-datetimepicker.min.css">
		<script src="/resources/static/js/jquery-1.10.2.min.js"></script>
		<script src="/resources/static/js/bootstrap.min.js"></script>
		<script src="/resources/static/js/moment.min.js"></script>
		<script src="/resources/static/js/bootstrap-datetimepicker.min.js"></script>
		<script type="text/javascript">
			$(function() {
				$('#{{ form.comp.dt_display.id_for_label }}').datetimepicker();
				$('#{{ form.comp.dt_start.id_for_label }}').datetimepicker();
				$('#{{ form.comp.dt_finish.id_for_label }}').datetimepicker();
				$("#id_compname").keyup( function() { var compname = $("#id_compname").val();
					$("#id_compurl").val(compname.toLowerCase().replace(/\s/g, '_').replace(/[^\w]/gi, ''));
				});
			});
		</script>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">CSC CSSEF</a>
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse" id="navbar-main">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						{% if auth_name == "auth_team_white" %}
						<li class="active"><a href="/admin/">Admin Config</a></li>
						{% elif auth_name == "auth_team_blue" %}
						<li><a href="/competitions/">Competitions</a></li>
						{% endif %}
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if auth %}
						<li class="navbar-text">{{ auth_name_display }}</li>
						<li class="divider-vertical"></li>
						{% if auth_name == "auth_team_white" %}
						<li><a href="/admin/logout/">Logout</a></li>
						{% elif auth_name == "auth_team_blue" %}
						<li><a href="/competitions/logout/">Logout</a></li>
						{% endif %}
						{% else %}
						<li class="dropdown">
							<a id="login_dropdown" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="login_dropdown">
								<li><a href="/competitions/login/" role="menuitem" tabindex="-1">Blue Team</a></li>
								<li><a href="#" role="menuitem" tabindex="-1">Orange Team</a></li>
								<li><a href="#" role="menuitem" tabindex="-1">Red Team</a></li>
								<li><a href="/admin/login/" role="menuitem" tabindex="-1">White Team</a></li>
							</ul>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li><a href="/admin/home/">Home</a></li>
						<li><a href="/admin/users/">Users</a></li>
						<li class="active"><a href="/admin/competitions/">Competitions</a></li>
						<li><a href="/admin/servicemodules/">Service Modules</a></li>
						<li><a href="#">Account</a></li>
					</ul>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<!-- actual page content-->

					<!-- BEGIN MESSAGE REPORTING -->
					{% if messages != None %}
					{% for i in messages.error %}
					<div class="alert alert-dismissable alert-error">
						<button type="button" class="close" data-dismiss="alert">x</button>
						<strong>Error: </strong>{{ i.string }} <!-- ({{ i.num }}) -->
					</div>
					{% endfor %}
					{% for i in messages.info %}
					<div class="alert alert-dismissable alert-info">
						<button type="button" class="close" data-dismiss="alert">x</button>
						<strong>Info: </strong>{{ i.string }} <!-- ({{ i.num }}) -->
					</div>
					{% endfor %}
					{% for i in messages.success %}
					<div class="alert alert-dismissable alert-success">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<strong>Success: </string>{{ i.string }} <!-- ({{ i.num }}) -->
					</div>
					{% endfor %}
					{% endif %}
					<!-- END MESSAGE REPORTING -->

					{% autoescape off %}
					<h2>New Competition</h2>
					<form action="/admin/competitions/create/" method="post" class="form-horizontal">
						{% csrf_token %}
						{{ form.comp.compname.errors}}
						<label for="{{ form.comp.compname.id_for_label }}" class="col-lg-2 control-label">{{ form.comp.compname.label }}</label>
						<div class="col-lg-10">{{ form.comp.compname }}<br></div>

						{{ form.comp.compurl.errors }}
						<label for="{{ form.comp.compurl.id_for_label }}" class="col-lg-2 control-label">{{ form.comp.compurl.label }}</label>
						<div class="col-lg-10">{{ form.comp.compurl }}<br></div>

						{{ form.comp.shrt_desc.errors }}
						<label for="{{ form.comp.shrt_desc.id_for_label }}" class="col-lg-2 control-label">{{ form.comp.shrt_desc.label }}</label>
						<div class="col-lg-10">{{ form.comp.shrt_desc }}<br></div>

						{{ form.comp.full_desc.errors }}
						<label for="{{ form.comp.full_desc.id_for_label }}" class="col-lg-2 control-label">{{ form.comp.full_desc.label }}</label>
						<div class="col-lg-10">{{ form.comp.full_desc }}<br></div>

						{{ form.comp.viewable.errors }}
						<label for="{{ form.comp.viewable.id_for_label }}" class="col-lg-2 control-label">{{ form.comp.viewable.label }}</label>
						<div class="col-lg-10">{{ form.comp.viewable }}<br></div>

						{{ form.comp.autodisplay.errors }}
						<label for="{{ form.comp.autodisplay.id_for_label }}" class="col-lg-2 control-label">{{ form.comp.autodisplay.label }}</label>
						<div class="col-lg-10">{{ form.comp.autodisplay }}<br></div>
			
						{{ form.comp.dt_display.errors }}
						<label for="{{ form.comp.dt_display.id_for_label }}" class="col-lg-2 control-label">{{ form.comp.dt_display.label }}</label>
						<div class="col-lg-10 input-append">{{ form.comp.dt_display }}<br></div>

						{{ form.comp.dt_start.errors }}
						<label for="{{ form.comp.dt_start.id_for_label }}" class="col-lg-2 control-label">{{ form.comp.dt_start.label }}</label>
						<div class="col-lg-10 input-append">{{ form.comp.dt_start }}<br></div>

						{{ form.comp.dt_finish.errors }}
						<label for="{{ form.comp.dt_finish.id_for_label }}" class="col-lg-2 control-label">{{ form.comp.dt_finish.label }}</label>
						<div class="col-lg-10 input-append">{{ form.comp.dt_finish }}<br></div>

						{{ form.comp.score_delay.errors }}
						<label for="{{ form.comp.score_delay.id_for_label }}" class="col-lg-2 control-label">{{ form.comp.score_delay.label }}</label>
						<div class="col-lg-10">{{ form.comp.score_delay }}<br></div>

						{{ form.comp.score_delay_uncert.errors }}
						<label for="{{ form.comp.score_delay_uncert.id_for_label }}" class="col-lg-2 control-label">{{ form.comp.score_delay_uncert.label }}</label>
						<div class="col-lg-10">{{ form.comp.score_delay_uncert }}<br></div>

						<div class="col-lg-10 col-lg-offset-2">
							<button class="btn btn-default">Cancel</button>
							<button type="submit" class="btn btn-primary">Create</button>
						</div>
					</form>
					{% endautoescape %}
				</div>
			</div>
		</dvi>
	</body>
</html>
