<html>
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static "cybersecweb/bootstrap.min.css" %}">
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="{% static "cybersecweb/bootstrap.min.js" %}"></script>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">CSC CSSEF</a>
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse" id="navbar-main">
					<ul class="nav navbar-nav">
						{% if auth_name == "auth_team_white" %}
						<li><a href="/admin/">Admin Config</a></li>
						{% elif auth_name == "auth_team_blue" %}
						<li><a href="/competitions/">Competitions</a></li>
						{% endif %}
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if auth %}
						<li class="navbar-text">{{ auth_name_display }}</li>
						<li class="divider-vertical"></li>
						{% if auth_name == "auth_team_white" %}
						<li><a href="/admin/logout/">Logout</a></li>
						{% elif auth_name == "auth_team_blue" %}
						<li><a href="/competitions/logout/">Logout</a></li>
						{% endif %}
						{% else %}
						<li class="dropdown">
							<a id="login_dropdown" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="login_dropdown">
								<li><a href="/competitions/login/" role="menuitem" tabindex="-1">Blue Team</a></li>
								<li><a href="#" role="menuitem" tabindex="-1">Orange Team</a></li>
								<li><a href="#" role="menuitem" tabindex="-1">Red Team</a></li>
								<li><a href="/admin/login/" role="menuitem" tabindex="-1">White Team</a></li>
							</ul>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>

		<div class="container">
			<br>
			<br>
			<br>
			<ul class="breadcrumb">
				<li class="active">Admin</li>
			</ul>

			<div class="jumbotron">
				<h1>Admin Home</h1>
				<p>The following are currently scheduled and past competitions ordered chronologically. Select a competition to see more information about it.</p>
				<br>
				<!-- <a class="btn btn-primary btn-lg">New Competition</a> -->
			</div>

			<a href="/admin/users/" class="btn btn-primary btn-lg">Users</a>
			<!-- <a href="/admin/teams/" class="btn btn-primary btn-lg">Teams</a> -->
			<a href="/admin/competitions/" class="btn btn-primary btn-lg">Competitions</a>

			<!-- <ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="/admin/">Home</a></li>
				<li><a href="/admin/users">Users</a></li>
				<li><a href="/admin/competitions">Competition List</a></li>
			</ul>
			<br> -->

		</div>
	</body>
</html>
