<html>
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static "cybersecweb/bootstrap.min.css" %}">
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">CSC CSSEF</a>
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse" id="navbar-main">
					<ul class="nav navbar-nav">
						<li><a href="/competitions">Competitions</a></li>
						<li><a href="/admin/">Admin Config</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if admin_auth %}
						<li><a href="/admin/logout/">Admin Logout</a></li>
						{% else %}
						<li><a href="/admin/login/">Admin Login</a></li>
						{% endif %}
						<li><a href="http://uafcsc.com/">UAF CSC</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container">
			<br>
			<br>
			<br>
			<ul class="breadcrumb">
				<li><a href="/admin/">Admin</a></li>
				<li><a href="/admin/competitions/">Competitions</a></li>
				<li class="active">Create Competition</li>
			</ul>

			<!-- BEGIN MESSAGE REPORTING -->
			{% if messages != None %}
			{% for i in messages.error %}
			<div class="alert alert-dismissable alert-error">
				<button type="button" class="close" data-dismiss="alert">x</button>
				<strong>Error: </strong>{{ i.string }} <!-- ({{ i.num }}) -->
			</div>
			{% endfor %}
			{% for i in messages.info %}
			<div class="alert alert-dismissable alert-info">
				<button type="button" class="close" data-dismiss="alert">x</button>
				<strong>Info: </strong>{{ i.string }} <!-- ({{ i.num }}) -->
			</div>
			{% endfor %}
			{% for i in messages.success %}
			<div class="alert alert-dismissable alert-success">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<strong>Success: </string>{{ i.string }} <!-- ({{ i.num }}) -->
			</div>
			{% endfor %}
			{% endif %}
			<!-- END MESSAGE REPORTING -->

			{% autoescape off %}
			<h2>New Competition</h2>
			<form action="/admin/competitions/create/" method="post" class="form-horizontal">
				{% csrf_token %}
				{{ form.comp.compname.errors}}
				<label for="{{ form.comp.compname.id_for_label }}" class="col-lg-2 control-label">{{ form.comp.compname.label }}</label>
				<div class="col-lg-10">{{ form.comp.compname }}</div>

				{{ form.comp.compurl.errors }}
				<label for="{{ form.comp.compurl.id_for_label }}" class="col-lg-2 control-label">{{ form.comp.compurl.label }}</label>
				<div class="col-lg-10">{{ form.comp.compurl }}</div>

				{{ form.comp.shrt_desc.errors }}
				<label for="{{ form.comp.shrt_desc.id_for_label }}" class="col-lg-2 control-label">{{ form.comp.shrt_desc.label }}</label>
				<div class="col-lg-10">{{ form.comp.shrt_desc }}</div>

				{{ form.comp.full_desc.errors }}
				<label for="{{ form.comp.full_desc.id_for_label }}" class="col-lg-2 control-label">{{ form.comp.full_desc.label }}</label>
				<div class="col-lg-10">{{ form.comp.full_desc }}</div>

				{{ form.comp.viewable.errors }}
				<label for="{{ form.comp.viewable.id_for_label }}" class="col-lg-2 control-label">{{ form.comp.viewable.label }}</label>
				<div class="col-lg-10">{{ form.comp.viewable }}</div>

				{{ form.comp.autodisplay.errors }}
				<label for="{{ form.comp.autodisplay.id_for_label }}" class="col-lg-2 control-label">{{ form.comp.autodisplay.label }}</label>
				<div class="col-lg-10">{{ form.comp.autodisplay }}</div>
			
				{{ form.comp.displaytime.errors }}
				<label for="{{ form.comp.displaytime.id_for_label }}" class="col-lg-2 control-label">{{ form.comp.displaytime.label }}</label>
				<div class="col-lg-10"><!-- {{ form.comp.displaytime }} --></div>

				{{ form.comp.score_delay.errors }}
				<label for="{{ form.comp.score_delay.id_for_label }}" class="col-lg-2 control-label">{{ form.comp.score_delay.label }}</label>
				<div class="col-lg-10">{{ form.comp.score_delay }}</div>

				{{ form.comp.score_delay_uncert.errors }}
				<label for="{{ form.comp.score_delay_uncert.id_for_label }}" class="col-lg-2 control-label">{{ form.comp.score_delay_uncert.label }}</label>
				<div class="col-lg-10">{{ form.comp.score_delay_uncert }}</div>

				<br>	
				<div class="col-lg-10 col-lg-offset-2">
					<button class="btn btn-default">Cancel</button>
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
			</form>
			{% endautoescape %}
		</div>
	</body>
</html>
