<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/resources/static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/resources/static/css/bootstrap-dashboard.css">
		<link rel="stylesheet" type="text/css" href="/resources/static/css/bootstrap-datetimepicker.min.css">
		<script src="/resources/static/js/jquery-1.10.2.min.js"></script>
		<script src="/resources/static/js/bootstrap.min.js"></script>
		<script src="/resources/static/js/moment.min.js"></script>
		<script src="/resources/static/js/bootstrap-datetimepicker.min.js"></script>
		<script type="text/javascript">
			$(function() {
				$('#{{ form.dt_delivery.id_for_label }}').datetimepicker();
				$('#{{ form.dt_response_due.id_for_label }}').datetimepicker();
				$('#{{ form.dt_response_close.id_for_label }}').datetimepicker();
			});
		</script>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">CSC CSSEF</a>
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse" id="navbar-main">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						{% if auth_name == "auth_team_white" %}
						<li class="active"><a href="/admin/">Admin Config</a></li>
						{% elif auth_name == "auth_team_blue" %}
						<li><a href="/competitions/">Competitions</a></li>
						{% endif %}
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if auth %}
						<li class="navbar-text">{{ auth_name_display }}</li>
						<li class="divider-vertical"></li>
						{% if auth_name == "auth_team_white" %}
						<li><a href="/admin/logout/">Logout</a></li>
						{% elif auth_name == "auth_team_blue" %}
						<li><a href="/competitions/logout/">Logout</a></li>
						{% endif %}
						{% else %}
						<li class="dropdown">
							<a id="login_dropdown" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="login_dropdown">
								<li><a href="/competitions/login/" role="menuitem" tabindex="-1">Blue Team</a></li>
								<li><a href="#" role="menuitem" tabindex="-1">Orange Team</a></li>
								<li><a href="#" role="menuitem" tabindex="-1">Red Team</a></li>
								<li><a href="/admin/login/" role="menuitem" tabindex="-1">White Team</a></li>
							</ul>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<!-- Start competition config navigation sidebar -->
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li><a href="/admin/competitions/"><span class="glyphicon glyphicon-chevron-left"></span>Back</a></li>
						<li class="nav-divider"><li>
						<li><a href="/admin/competitions/{{ competition_object.compurl }}/summary/">Summary</a></li>
						<li><a href="/admin/competitions/{{ competition_object.compurl }}/settings/">Settings</a></li>
						<li class="active"><a href="/admin/competitions/{{ competition_object.compurl }}/injects/">Injects</a></li>
						<li><a href="/admin/competitions/{{ competition_object.compurl }}/services/">Services</a></li>
						<li><a href="/admin/competitions/{{ competition_object.compurl }}/teams/">Teams</a></li>
					</ul>
				</div>
				<!-- End competition config navigation sidebar -->
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<!-- BEGIN MESSAGE REPORTING -->
					{% if messages != None %}
					{% for i in messages.error %}
					<div class="alert alert-dismissable alert-error">
						<button type="button" class="close" data-dismiss="alert">x</button>
						<strong>Error: </strong>{{ i.string }} <!-- ({{ i.num }}) -->
					</div>
					{% endfor %}
					{% for i in messages.info %}
					<div class="alert alert-dismissable alert-info">
						<button type="button" class="close" data-dismiss="alert">x</button>
						<strong>Info: </strong>{{ i.string }} <!-- ({{ i.num }}) -->
					</div>
					{% endfor %}
					{% for i in messages.success %}
					<div class="alert alert-dismissable alert-success">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<strong>Success: </string>{{ i.string }} <!-- ({{ i.num }}) -->
					</div>
					{% endfor %}
					{% endif %}
					<!-- END MESSAGE REPORTING -->

					<h2> Create Inject </h2>
					{% if action == "create" %}
					<form action="/admin/competitions/{{ competition_object.compurl }}/injects/{{ action }}/" method="post" class="form-horizontal" enctype="multipart/form-data">
					{% else%}
					<form action="/admin/competitions/{{ competition_object.compurl }}/injects/{{ action }}/{{ ijctid }}/" method="post" class="form-horizontal" enctype="multipart/form-data">
					{% endif %}
						{% csrf_token %}
						{{ form.title.errors}}
						<label for="{{ form.title.id_for_label }}" class="col-lg-2 control-label">{{ form.title.label }}</label>
						<div class="col-lg-10">{{ form.title }}<br></div>

						{{ form.body.errors}}
						<label for="{{ form.body.id_for_label }}" class="col-lg-2 control-label">{{ form.body.label }}</label>
						<div class="col-lg-10">{{ form.body }}<br></div>

						{{ form.dt_delivery.errors}}
						<label for="{{ form.dt_delivery.id_for_label }}" class="col-lg-2 control-label">{{ form.dt_delivery.label }}</label>
						<div class="col-lg-10">{{ form.dt_delivery }}<br></div>

						{{ form.dt_response_due.errors}}
						<label for="{{ form.dt_response_due.id_for_label }}" class="col-lg-2 control-label">{{ form.dt_response_due.label }}</label>
						<div class="col-lg-10">{{ form.dt_response_due }}<br></div>

						{{ form.dt_response_close.errors}}
						<label for="{{ form.dt_response_close.id_for_label }}" class="col-lg-2 control-label">{{ form.dt_response_close.label }}</label>
						<div class="col-lg-10">{{ form.dt_response_close }}<br></div>

						{{ form.docfile.errors }}
						<label for="{{ form.docfile.id_for_label }}" class="col-lg-2 control-label">{{ form.docfile.label }}</label>
						<div class="col-lg-10">{{ form.docfile }}<br></div>

						<div class="col-lg-10 col-lg-offset-2">
							<a class="btn btn-default" href="/admin/competitions/{{ competition_object.compurl }}/injects/">Cancel</a>
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>