{% extends "CompConfig/compconfig_template.html %}

{% headers_css %}
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-datetimepicker.min.css" %}">
{% endblock %}

{% headers_js %}
<script src="{% static "js/moment.min.js" %}"></script>
<script src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>
<script type="text/javascript">
	$(function() {
		$('#{{ form.dt_delivery.id_for_label }}').datetimepicker();
		$('#{{ form.dt_response_due.id_for_label }}').datetimepicker();
		$('#{{ form.dt_response_close.id_for_label }}').datetimepicker();
	});
</script>
{% endblock %}

{% block sidebar_id %}sidebar_injects{% endblock %}

{% block page_content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h2> Create Inject </h2>
	{% if action == "create" %}
	<form action="/admin/competitions/{{ comp_obj.compurl }}/injects/{{ action }}/" method="post" class="form-horizontal" enctype="multipart/form-data">
	{% else%}
	<form action="/admin/competitions/{{ comp_obj.compurl }}/injects/{{ action }}/{{ ijctid }}/" method="post" class="form-horizontal" enctype="multipart/form-data">
	{% endif %}
		{% csrf_token %}
		{{ form.title.errors}}
		<label for="{{ form.title.id_for_label }}" class="col-lg-2 control-label">{{ form.title.label }}</label>
		<div class="col-lg-10">{{ form.title }}<br></div>

		{{ form.body.errors}}
		<label for="{{ form.body.id_for_label }}" class="col-lg-2 control-label">{{ form.body.label }}</label>
		<div class="col-lg-10">{{ form.body }}<br></div>

		{{ form.dt_delivery.errors}}
		<label for="{{ form.dt_delivery.id_for_label }}" class="col-lg-2 control-label">{{ form.dt_delivery.label }}</label>
		<div class="col-lg-10">{{ form.dt_delivery }}<br></div>

		{{ form.dt_response_due.errors}}
		<label for="{{ form.dt_response_due.id_for_label }}" class="col-lg-2 control-label">{{ form.dt_response_due.label }}</label>
		<div class="col-lg-10">{{ form.dt_response_due }}<br></div>

		{{ form.dt_response_close.errors}}
		<label for="{{ form.dt_response_close.id_for_label }}" class="col-lg-2 control-label">{{ form.dt_response_close.label }}</label>
		<div class="col-lg-10">{{ form.dt_response_close }}<br></div>

		{{ form.docfile.errors }}
		<label for="{{ form.docfile.id_for_label }}" class="col-lg-2 control-label">{{ form.docfile.label }}</label>
		<div class="col-lg-10">{{ form.docfile }}<br></div>

		<div class="col-lg-10 col-lg-offset-2">
			<a class="btn btn-default" href="/admin/competitions/{{ comp_obj.compurl }}/injects/">Cancel</a>
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</form>
</div>
{% endblock %}
