<html>
  <head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "cybersecweb/bootstrap.min.css" %}">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">CSC CSSEF</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
	    <li><a href="/competitions">Competitions</a></li>
            <li><a href="/admin/">Admin Config</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/admin/login/">Admin Login</a></li>
            <li><a href="http://uafcsc.com/">UAF CSC</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <br>
      <br>
      <br>
      <ul class="breadcrumb">
        <li><a href="/admin/">Admin</a></li>
        <li class="active">Competition List</li>
      </ul>

      <div class="jumbotron">
        <h1>Competition List</h1>
        <p>The following are currently scheduled and past competitions ordered chronologically. Select a competition to see more information about it.</p>
        <br>
        <a class="btn btn-primary btn-lg" href="/admin/competitions/create/">New Competition</a>
      </div>

      <div id="competition_list">
        {% autoescape off %}
        {% if competition_list %}
          {% for i in competition_list %}
          <div class="panel panel-default">
            <div class="panel-heading">
              {{ i.compname }}
            </div>
            <div class="panel-body">
              <p>{{ i.shrt_desc }}</p>
              <a href="/admin/competitions/{{ i.compurl }}/" class="btn btn-primary pull-right">Edit</a>
            </div>
          </div>
          {% endfor %}
        {% else %}
          <p>No competitions have been created yet. Go ahead and make one!</p>
        {% endif %}
        {% endautoescape %}
      </div>

    </div>
  </body>
</html>
