<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/resources/static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/resources/static/css/bootstrap-dashboard.css">
		<link rel="stylesheet" type="text/css" href="/resources/static/css/bootstrap-datetimepicker.min.css">
		<script src="/resources/static/js/jquery-1.10.2.min.js"></script>
		<script src="/resources/static/js/bootstrap.min.js"></script>
		<script src="/resources/static/js/moment.min.js"></script>
		<script src="/resources/static/js/bootstrap-datetimepicker.min.js"></script>
		<script>
			$(function () {
				$('#{{ form.datetime_start.id_for_label }}').datetimepicker();
				$('#{{ form.datetime_finish.id_for_label }}').datetimepicker();
				var serv_json_conf_obj = $('#{{ form.service.config.id_for_label }}')
				serv_json_conf_obj.focusout(
					function() {
						// Replaces any single quotes with double quotes (screws up apostophes TODO: fix this somehow)
						serv_json_conf_obj.val(serv_json_conf_obj.val().replace(/\'/g, '\"'));
						// Checks if the submission should be locked
						var score_config = serv_json_conf_obj.val();
						try {
							JSON.parse(score_config);
						} catch (e) {
							// Bad json object, need to disable submit button
							if (!$('#form_sub_button').hasClass('disabled')) {
								$('#form_sub_button').addClass('disabled')
								$('#form_messages').html('Unable to parse json object in \'Score Configuration\' field.')
							}
							return
						}
						// The json object is good, and we should remove the disabled class if it's there
						if ($('#form_sub_button').hasClass('disabled')) {
							$('#form_sub_button').removeClass('disabled')
							$('#form_messages').html('')
						}
					}
				);
			});
		</script>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">CSC CSSEF</a>
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse" id="navbar-main">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						{% if auth_name == "auth_team_white" %}
						<li class="active"><a href="/admin/">Admin Config</a></li>
						{% elif auth_name == "auth_team_blue" %}
						<li><a href="/competitions/">Competitions</a></li>
						{% endif %}
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if auth %}
						<li class="navbar-text">{{ auth_name_display }}</li>
						<li class="divider-vertical"></li>
						{% if auth_name == "auth_team_white" %}
						<li><a href="/admin/logout/">Logout</a></li>
						{% elif auth_name == "auth_team_blue" %}
						<li><a href="/competitions/logout/">Logout</a></li>
						{% endif %}
						{% else %}
						<li class="dropdown">
							<a id="login_dropdown" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="login_dropdown">
								<li><a href="/competitions/login/" role="menuitem" tabindex="-1">Blue Team</a></li>
								<li><a href="#" role="menuitem" tabindex="-1">Orange Team</a></li>
								<li><a href="#" role="menuitem" tabindex="-1">Red Team</a></li>
								<li><a href="/admin/login/" role="menuitem" tabindex="-1">White Team</a></li>
							</ul>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<!-- Start competition config navigation sidebar -->
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li><a href="/admin/competitions/"><span class="glyphicon glyphicon-chevron-left"></span>Back</a></li>
						<li class="nav-divider"><li>
						<li><a href="/admin/competitions/{{ comp_obj.compurl }}/summary/">Summary</a></li>
						<li><a href="/admin/competitions/{{ comp_obj.compurl }}/settings/">Settings</a></li>
						<li><a href="/admin/competitions/{{ comp_obj.compurl }}/injects/">Injects</a></li>
						<li class="active"><a href="/admin/competitions/{{ comp_obj.compurl }}/services/">Services</a></li>
						<li><a href="/admin/competitions/{{ comp_obj.compurl }}/teams/">Teams</a></li>
					</ul>
				</div>
				<!-- End competition config navigation sidebar -->
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

					<!-- BEGIN MESSAGE REPORTING -->
					{% if messages != None %}
					{% for i in messages.error %}
					<div class="alert alert-dismissable alert-error">
						<button type="button" class="close" data-dismiss="alert">x</button>
						<strong>Error: </strong>{{ i.string }} <!-- ({{ i.num }}) -->
					</div>
					{% endfor %}
					{% for i in messages.info %}
					<div class="alert alert-dismissable alert-info">
						<button type="button" class="close" data-dismiss="alert">x</button>
						<strong>Info: </strong>{{ i.string }} <!-- ({{ i.num }}) -->
					</div>
					{% endfor %}
					{% for i in messages.success %}
					<div class="alert alert-dismissable alert-success">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<strong>Success: </string>{{ i.string }} <!-- ({{ i.num }}) -->
					</div>
					{% endfor %}
					{% endif %}
					<!-- END MESSAGE REPORTING -->

					{% if action == "create" %}
					<h2> Create Service </h2>
					<form action="/admin/competitions/{{ comp_obj.compurl }}/services/{{ action }}/" method="post" class="form-horizontal">
					{% else%}
					<h2> Edit Service </h2>
					<form action="/admin/competitions/{{ comp_obj.compurl }}/services/{{ action }}/{{ servid }}/" method="post" class="form-horizontal">
					{% endif %}
						{% csrf_token %}
						<!-- Form field for module name -->
						{{ form.servicemodule.errors }}
						<label for="{{ form.servicemodule.id_for_label }}" class="col-lg-2 control-label">{{ form.servicemodule.label }}</label>
						<div class="col-lg-10">{{ form.servicemodule }}<br></div>

						<!-- Form field for service name -->
						{{ form.name.errors}}
						<label for="{{ form.name.id_for_label }}" class="col-lg-2 control-label">{{ form.name.label }}</label>
						<div class="col-lg-10">{{ form.name }}<br></div>

						<!-- Form field for service start datetime -->
						{{ form.datetime_start.errors }}
						<label for="{{ form.datetime_start.id_for_label }}" class="col-lg-2 control-label">{{ form.datetime_start.label }}</label>
						<div class="col-lg-10 input-append">{{ form.datetime_start }}<br></div>

						<!-- Form field for service finish datetime -->
						{{ form.datetime_finish.errors }}
						<label for="{{ form.datetime_finish.id_for_label }}" class="col-lg-2 control-label">{{ form.datetime_finish.label }}</label>
						<div class="col-lg-10 input-append">{{ form.datetime_finish }}<br></div>

						<!-- Form field for points -->
						{{ form.connectip.errors}}
						<label for="{{ form.connectip.id_for_label }}" class="col-lg-2 control-label">{{ form.connectip.label }}</label>
						<div class="col-lg-10">{{ form.connectip }}<br></div>

						<!-- Form field for subdomain name -->
						{{ form.networkloc.errors }}
						<label for="{{ form.networkloc.id_for_label }}" class="col-lg-2 control-label">{{ form.networkloc.label }}</label>
						<div class="col-lg-10">{{ form.networkloc }}<br></div>

						<!-- Form field for points -->
						{{ form.defaultport.errors}}
						<label for="{{ form.defaultport.id_for_label }}" class="col-lg-2 control-label">{{ form.defaultport.label }}</label>
						<div class="col-lg-10">{{ form.defaultport }}<br></div>

						<!-- Form field for points -->
						{{ form.points.errors}}
						<label for="{{ form.points.id_for_label }}" class="col-lg-2 control-label">{{ form.points.label }}</label>
						<div class="col-lg-10">{{ form.points }}<br></div>
						
						<!-- Form field for description -->
						{{ form.description.errors}}
						<label for="{{ form.description.id_for_label }}" class="col-lg-2 control-label">{{ form.description.label }}</label>
						<div class="col-lg-10">{{ form.description }}<br></div>

						<div class="col-lg-offset-2 col-lg-10">
							<a class="btn btn-default" href="/admin/competitions/{{ comp_obj.compurl }}/services/">Cancel</a>
							<button id="form_sub_button" type="submit" class="btn btn-primary">Save</button>
							<label id="form_messages"></label>
						</div>
					</form>
				</div>
			</dvi>
		</div>
	</body>
</html>
