<html>
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/examples/dashboard/dashboard.css">
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="{% static "cybersecweb/bootstrap.min.js" %}"></script>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">CSC CSSEF</a>
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse" id="navbar-main">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						{% if auth_name == "auth_team_white" %}
						<li><a href="/admin/">Admin Config</a></li>
						{% elif auth_name == "auth_team_blue" %}
						<li><a href="/competitions/">Competitions</a></li>
						{% endif %}
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if auth %}
						<li class="navbar-text">{{ auth_name_display }}</li>
						<li class="divider-vertical"></li>
						{% if auth_name == "auth_team_white" %}
						<li><a href="/admin/logout/">Logout</a></li>
						{% elif auth_name == "auth_team_blue" %}
						<li><a href="/competitions/logout/">Logout</a></li>
						{% endif %}
						{% else %}
						<li class="dropdown">
							<a id="login_dropdown" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="login_dropdown">
								<li><a href="/competitions/login/" role="menuitem" tabindex="-1">Blue Team</a></li>
								<li><a href="#" role="menuitem" tabindex="-1">Orange Team</a></li>
								<li><a href="#" role="menuitem" tabindex="-1">Red Team</a></li>
								<li><a href="/admin/login/" role="menuitem" tabindex="-1">White Team</a></li>
							</ul>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<!-- Start competition config navigation sidebar -->
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li><a href="/admin/competitions/{{ competition_object.compurl }}/summary/">Summary</a></li>
						<li><a href="/admin/competitions/{{ competition_object.compurl }}/details/">Details</a></li>
						<li><a href="/admin/competitions/{{ competition_object.compurl }}/injects/">Injects</a></li>
						<li><a href="/admin/competitions/{{ competition_object.compurl }}/scoring/">Scoring</a></li>
						<li><a href="/admin/competitions/{{ competition_object.compurl }}/services/">Services</a></li>
						<li><a href="/admin/competitions/{{ competition_object.compurl }}/teams/">Teams</a></li>
					</ul>
				</div>
				<!-- End competition config navigation sidebar -->
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

					{% if messages != None %}
					<!-- BEGIN MESSAGE REPORTING -->
					{% for i in messages.error %}
					<div class="alert alert-dismissable alert-error">
						<button type="button" class="close" data-dismiss="alert">x</button>
						<strong>Error: </strong>{{ i.string }} <!-- ({{ i.num }}) -->
					</div>
					{% endfor %}
					{% for i in messages.info %}
					<div class="alert alert-dismissable alert-info">
						<button type="button" class="close" data-dismiss="alert">x</button>
						<strong>Info: </strong>{{ i.string }} <!-- ({{ i.num }}) -->
					</div>
					{% endfor %}
					{% for i in messages.success %}
					<div class="alert alert-dismissable alert-success">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<strong>Success: </string>{{ i.string }} <!-- ({{ i.num }}) -->
					</div>
					{% endfor %}
					<!-- END MESSAGE REPORTING -->
					{% endif %}

					<h2> Create Team </h2>
					{% if action == "create" %}
					<form action="/admin/competitions/{{ competition_object.compurl }}/teams/{{ action }}/" method="post" class="form-horizontal">
					{% else%}
					<form action="/admin/competitions/{{ competition_object.compurl }}/teams/{{ action }}/{{ teamid }}/" method="post" class="form-horizontal">
					{% endif %}	
						{% csrf_token %}
						{{ form.team.teamname.errors }}
						<label for="{{ form.team.teamname.id_for_label }}" class="col-lg-2 control-label">{{ form.team.teamname.label }}</label>
						<div class="col-lg-10">{{ form.team.teamname }}</div>

						{{ form.team.password.errors }}
						<label for="{{ form.team.passphrase.id_for_label }}" class="col-lg-2 control-label">{{ form.team.password.label }}</label>
						<div class="col-lg-10">{{ form.team.password }}</div>

						{{ form.team.domainname.errors }}
						<label for="{{ form.team.domainname.id_for_label }}" class="col-lg-2 control-label">{{ form.team.domainname.label }}</label>
						<div class="col-lg-10">{{ form.team.domainname }}</div>

						{{ form.team.score_configs.errors }}
						<label for="{{ form.team.score_configs.id_for_label }}" class="col-lg-2 control-label">{{ form.team.score_configs.label }}</label>
						<div class="col-lg-10">{{ form.team.score_configs }}</div>

						<div class="col-lg-10 col-lg-offset-2">
							<br>
							<button class="btn btn-default">Cancel</button>
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
