{% extends "CompConfig/compconfig_template.html %}

{% block header_js %}
<script>
	$(function () {
		$('#{{ form.team.score_configs.id_for_label }}').focusout(
			function() {
				// Replaces any single quotes with double quotes (screws up apostophes TODO: fix this somehow)
				$("#{{ form.score_configs.id_for_label }}").val($("#{{ form.score_configs.id_for_label }}").val().replace(/\'/g, '\"'));
				// Checks if the submission should be locked
				var score_config = $("#{{ form.score_configs.id_for_label }}").val();
				try {
					JSON.parse(score_config);
				} catch (e) {
					// Bad json object, need to disable submit button
					if (!$('#form_sub_button').hasClass('disabled')) {
						$('#form_sub_button').addClass('disabled')
						$('#form_messages').html('Unable to parse json object in \'Score Configuration\' field.')
					}
					return
				}
				// The json object is good, and we should remove the disabled class if it's there
				if ($('#form_sub_button').hasClass('disabled')) {
					$('#form_sub_button').removeClass('disabled')
					$('#form_messages').html('')
				}
			}
		);
		$("#{{ form.teamname.id_for_label }}").keyup( function() { var teamname = $("#{{ form.teamname.id_for_label }}").val();
			$("#{{ form.username.id_for_label }}").val(teamname.toLowerCase().replace(/\s/g, '_').replace(/[^\w]/gi, ''));
		});
	});
</script>
{% endblock %}

{% block sidebar_id %}sidebar_teams{% endblock %}

{% block page_content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">	
	{% if action == "create" %}
	<h2> Create Team </h2>
	<form action="/admin/competitions/{{ comp_obj.compurl }}/teams/{{ action }}/" method="post" class="form-horizontal">
	{% else%}
	<h2> Edit Team </h2>
	<form action="/admin/competitions/{{ comp_obj.compurl }}/teams/{{ action }}/{{ teamid }}/" method="post" class="form-horizontal">
	{% endif %}	
		{% csrf_token %}
		{{ form.teamname.errors }}
		<label for="{{ form.teamname.id_for_label }}" class="col-lg-2 control-label">{{ form.teamname.label }}</label>
		<div class="col-lg-10">{{ form.teamname }}<br></div>

		{{ form.username.errors }}
		<label for="{{ form.username.id_for_label }}" class="col-lg-2 control-label">{{ form.username.label }}</label>
		<div class="col-lg-10">{{ form.username }}<br></div>

		{{ form.password.errors }}
		<label for="{{ form.password.id_for_label }}" class="col-lg-2 control-label">{{ form.password.label }}</label>
		<div class="col-lg-10">{{ form.password }}<br></div>

		{{ form.networkaddr.errors }}
		<label for="{{ form.networkaddr.id_for_label }}" class="col-lg-2 control-label">{{ form.networkaddr.label }}</label>
		<div class="col-lg-10">{{ form.networkaddr }}<br></div>

		{% for service_configs in service_configs_list %}
		<h4><br>Configurations for Service: {{ service_configs.service.name }}</h4>
		{% for field in service_configs.configs %}
		<label for="{{ field.id_for_label }}" class="col-lg-2 control-label">{{ field.label }}</label>
		<div class="col-lg-10">
			<input class="form-control" id="{{ field.id_for_label }}" name="{{ field.id_for_label }}" type="{{field.type}}" value="{{field.value}}"><br>
		</div>
		{% endfor %}
		{% endfor%}

		<div class="col-lg-10 col-lg-offset-2">
			<a class="btn btn-default" href="/admin/competitions/{{ comp_obj.compurl }}/teams/">Cancel</a>
			<button id="form_sub_button" type="submit" class="btn btn-primary">Save</button>
			<p id="form_messages"></p>
		</div>
	</form>
</div>
{% endblock %}
