{% extends "site_template.html" %}

{% block authed_navbar_links %}
<li class="active"><a href="/admin/">Admin Config</a></li>
{% endblock %}

{% block sidebar %}
<div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-sidebar">
		<li><a href="/admin/competitions/"><span class="glyphicon glyphicon-chevron-left"></span>Back</a></li>
		<li class="nav-divider"><li>
		<li id="sidebar_summary"><a href="/admin/competitions/{{ comp_obj.compurl }}/summary/">Summary</a></li>
		<li id="sidebar_settings"><a href="/admin/competitions/{{ comp_obj.compurl }}/settings/">Settings</a></li>
		<li id="sidebar_injects"><a href="/admin/competitions/{{ comp_obj.compurl }}/injects/">Injects</a></li>
		<li id="sidebar_services"><a href="/admin/competitions/{{ comp_obj.compurl }}/services/">Services</a></li>
		<li id="sidebar_teams"><a href="/admin/competitions/{{ comp_obj.compurl }}/teams/">Teams</a></li>
	</ul>
</div>
{% endblock %}
