{% extends "competition/competitionTemplate.html" %}

{% block headers_css %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-datetimepicker.min.css" %}">
{% endblock %}

{% block headers_js %}
<script src="{% static "js/moment.min.js" %}"></script>
<script src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>
<script>
	$(function () {
		var datetimeStart = $('#{{ form.datetimeStart.id_for_label }}');
		var datetimeFinish = $('#{{ form.datetimeFinish.id_for_label }}');
		var manualStart = $('#{{ form.manualStart.id_for_label }}');
		datetimeStart.datetimepicker();
		datetimeFinish.datetimepicker();

		function toggleDisable (targetField) {
			targetField.prop('disabled', function(idx, oldProp) { return !oldProp; });
			targetField.val('');
		}
		manualStart.click(function () {
			toggleDisable(datetimeStart);
		});

		$(document).ready(function() {
			if (manualStart.attr('checked')) {
				datetimeStart.attr('disabled', true);
			}
		});
	});
</script>
{% endblock %}

{% block sidebar_id %}sidebar_services{% endblock %}

{% block page_content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	{% if action == "create" %}
	<h2> Create Service </h2>
	<form action="/organization/{{ organization.url }}/competitions/{{ competition.url }}/services/{{ action }}/" method="post" class="form-horizontal">
	{% else%}
	<h2> Edit Service </h2>
	<form action="/organization/{{ organization.url }}/competitions/{{ competition.url }}/services/{{ action }}/{{ service.serviceId }}/" method="post" class="form-horizontal">
	{% endif %}
		{% csrf_token %}
		{{ form }}
		<div class="col-lg-offset-2 col-lg-10">
			<a class="btn btn-default" href="/organization/{{ organization.url }}/competitions/{{ competition.url }}/services/">Cancel</a>
			<button id="form_sub_button" type="submit" class="btn btn-primary">Save</button>
			<label id="form_messages"></label>
		</div>
	</form>
</div>
{% endblock %}
