{% extends "organization/templates/pageTemplate.html" %}

{% block sidebar_id %}sidebar_competitions{% endblock %}

{% block headers_js %}
{% load staticfiles %}
<script src="{% static "js/moment.min.js" %}"></script>
<script type="text/javascript">
	$(function() {
		$("#id_name").keyup( function() { var name = $("#id_name").val();
			$("#id_url").val(name.toLowerCase().replace(/\s/g, '_').replace(/[^\w]/gi, ''));
		});
	});
</script>
{% endblock %}

{% block page_content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	{% autoescape off %}
	<h2>New Competition</h2>
	<form action="/competition/{{ organization.id }}/management/create/" method="post" class="form-horizontal">
		{% csrf_token %}
		{{ form.name.errors}}
		<label for="{{ form.name.id_for_label }}" class="col-lg-2 control-label">{{ form.name.label }}</label>
		<div class="col-lg-4">{{ form.name }}<br></div>

		{{ form.url.errors }}
		<label for="{{ form.url.id_for_label }}" class="col-lg-2 control-label">{{ form.url.label }}</label>
		<div class="col-lg-4">{{ form.url }}<br></div>

		{{ form.description.errors }}
		<label for="{{ form.description.id_for_label }}" class="col-lg-2 control-label">{{ form.description.label }}</label>
		<div class="col-lg-10">{{ form.description }}<br></div>

		<div class="col-lg-10 col-lg-offset-2">
			<a class="btn btn-default" href="/competition/{{ organization.id }}/management/summary/">Cancel</a>
			<button type="submit" class="btn btn-primary">Create</button>
		</div>
	</form>
</div>
{% endautoescape %}
{% endblock %}
