{% extends "organization/templates/pageTemplate.html" %}

{% block sidebar_id %}sidebar_competitions{% endblock %}

{% block page_content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="jumbotron">
		<h1>Competition List</h1>
		<p>This is a list of competitions hosted by the organization.</p>
		<p>You have {{ apiData|length }} competition(s) of a maximum of {{ organization.maxCompetitions }}.</p>
		{% if organization.canAddCompetitions and apiData|length < organization.maxCompetitions %}
		<br>
		<a class="btn btn-primary btn-lg" href="/competition/{{ organization.id }}/management/create/">New Competition</a>
		{% endif %}
	</div>

	<div id="competition_list">
		{% if apiData %}
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Description</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for i in apiData %}
				<tr>
					<td style="vertical-align: middle">{{ i.id }}</td>
					<td style="vertical-align: middle">{{ i.name }}</td>
					<td style="vertical-align: middle">{{ i.description }}</td>
					<td>
						<div class="dropdown" style="float: left;">
							<button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> View As <span class="caret"></span> </button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li><a href="/competition/{{ i.id }}/teamwhite/summary/">White Team</a></li>
								<li><a href="/competition/{{ i.id }}/teamblue/summary/">Blue Team</a></li>
							</ul>
						</div>
						{% if organization.canDeleteCompetitions %}
						&nbsp;<button type="button" class="btn btn-sm btn-danger" href="/competition/{{ organization.id }}/management/delete/"> Delete </button>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p>No competitions have been created yet. Go ahead and make one!</p>
		{% endif %}
	</div>
</div>
{% endblock %}
