<html>
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/examples/dashboard/dashboard.css">
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="{% static "cybersecweb/bootstrap.min.js" %}"></script>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">CSC CSSEF</a>
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse" id="navbar-main">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						{% if auth_name == "auth_team_white" %}
						<li><a href="/admin/">Admin Config</a></li>
						{% elif auth_name == "auth_team_blue" %}
						<li><a href="/competitions/{{ competition_object.compurl }}/summary/">Competition</a></li>
						{% endif %}
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if auth %}
						<li class="navbar-text">{{ auth_name_display }}</li>
						<li class="divider-vertical"></li>
						{% if auth_name == "auth_team_white" %}
						<li><a href="/admin/logout/">Logout</a></li>
						{% elif auth_name == "auth_team_blue" %}
						<li><a href="/competitions/logout/">Logout</a></li>
						{% endif %}
						{% else %}
						<li class="dropdown">
							<a id="login_dropdown" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="login_dropdown">
								<li><a href="/competitions/login/" role="menuitem" tabindex="-1">Blue Team</a></li>
								<li><a href="#" role="menuitem" tabindex="-1">Orange Team</a></li>
								<li><a href="#" role="menuitem" tabindex="-1">Red Team</a></li>
								<li><a href="/admin/login/" role="menuitem" tabindex="-1">White Team</a></li>
							</ul>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li><a href="/competitions/{{ competition_object.compurl }}/summary/">Summary</a></li>
						<li><a href="/competitions/{{ competition_object.compurl }}/details/">Details</a></li>
						{% if auth_name == "auth_team_blue" %}
						<li><a href="/competitions/{{ competition_object.compurl }}/servicestatus/">Service Status</a></li>
						<li><a href="/competitions/{{ competition_object.compurl }}/scoreboard/">Score Board</a></li>
						<li><a href="/competitions/{{ competition_object.compurl }}/servicetimeline/">Service Timeline</a></li>
						<li><a href="/competitions/{{ competition_object.compurl }}/injects/">Injects</a></li>
						<li><a href="/competitions/{{ competition_object.compurl }}/incidentresponse/">Incident Response</a></li>
						{% else %}
						{% endif %}
					</ul>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<!-- Actual page content -->
					{% if auth_name == "auth_team_blue" %}
					{% for i in injects %}
					<div class="panel panel-default">
						<div class="panel-heading"> {{ i.title }} </div>
						<div class="panel-body">
							<strong>Released at: </strong> {{ i.dt_delivery }}
							<br>
							<strong>Due at: </strong> {{ i.dt_response_due }}
							<br><br>
							<p>{{ i.body }}</p>
							<br>
							<div class="bt-component pull-right">
								<a href="/competitions/{{ competition_object.compurl }}/injects/{{ i.ijctid }}" class="btn btn-primary">View/Respond</a>
							</div>
						</div>
					</div>
					{% endfor %}
					{% else %}
					<p>
						You must be authenticated as a team of this competition to view the page contents.
					</p>
					{% endif %}
				</div>
			</div>
		</div>
	</body>
</html>
