<html>
  <head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "cybersecweb/bootstrap.min.css" %}">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">CSC CSSEF</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
	    <li><a href="/competitions/">Competitions</a></li>
            <li><a href="/admin/">Admin Config</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if admin_auth %}
            <li><a href="/admin/logout/">Admin Logout</a></li>
            {% else %}
            <li><a href="/admin/login/">Admin Login</a></li>
            {% endif %}
            <li><a href="http://uafcsc.com/">UAF CSC</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <br>
      <br>
      <br>
      <div class="page-header"><h2>Team Login</h2></div>
    <!-- BEGIN MESSAGE REPORTING -->
    {% if messages != None %}
      {% for i in messages.error %}
      <div class="alert alert-dismissable alert-error">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Error: </strong>{{ i.string }} <!-- ({{ i.num }}) -->
      </div>
      {% endfor %}
      {% for i in messages.info %}
      <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Info: </strong>{{ i.string }} <!-- ({{ i.num }}) -->
      </div>
      {% endfor %}
      {% for i in messages.success %}
      <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Success: </string>{{ i.string }} <!-- ({{ i.num }}) -->
      </div>
      {% endfor %}
    {% endif %}
    <!-- END MESSAGE REPORTING -->



    	<form action="/competitions/{{ competition_object.compurl }}/teamlogin/" method="post" class="form-horizontal">
    	{% csrf_token %}
    	{{ form.login.teamname.errors }}
		<label for="{{ form.login.teamname.id_for_label }}" class="col-lg-2 control-label">{{ form.login.teamname.label }}</label>
		<div class="col-lg-10">{{ form.login.teamname }}</div>

		{{ form.login.password.errors }}
		<label for="{{ form.login.password.id_for_label }}" class="col-lg-2 control-label">{{ form.login.password.label }}</label>
		<div class="col-lg-10">{{ form.login.password }}</div>
    
		{{ form.login.competitions.errors }}
		<label for="{{ form.login.competitions.id_for_label }}" class="col-lg-2 control-label">{{ form.login.competitions.label }}</label>
		<div class="col-lg-10">{{ form.login.competitions }}</div>

		<div class="col-lg-10 col-lg-offset-2">
    		<button type="submit" class="btn btn-primary">Login</button>
    	</div>
		</form>
    </div>

  </body>
</html>
