{% extends "Comp/comp_template.html" %}

{% block sidebar_id %}sidebar_summary{% endblock %}

{% block page_content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="jumbotron">
		<h1>{{ comp_obj.compname }}</h1>
	</div>

	<div class="col-sm-6 col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading"> Description </div>
			<div class="panel-body">
				<p>{{ comp_obj.description_full }}</p>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading"> Teams </div>
			<div class="panel-body">
				{% for i in teams %}
				<li class="list-group-item">{{i.teamname}}</li>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading"> Competition Duration </div>
			<div class="panel-body">
				<div class="row">
					<label class="control-label col-sm-4"> Start Time </label>
					<div class="col-sm-8">{{ comp_obj.datetime_start }}</div>
				</div>
				<div class="row">
					<label class="control-label col-sm-4"> Finish Time </label>
					<div class="col-sm-8">{{ comp_obj.datetime_finish }}</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading"> Services </div>
			<div class="panel-body">
				{% for i in services%}
				<div class="row">
					<label class="control-label col-sm-4"> Name: </label>
					<div class="col-sm-8"> {{ i.name }}</div>
				</div>
				<div class="row">
					<label class="control-label col-sm-4"> Points: </label>
					<div class="col-sm-8"> {{ i.points }}</div>
				</div>
				<div class="row">
					<label class="control-label col-sm-4"> Description: </label>
					<div class="col-sm-8"> {{ i.description }}</div>
				</div>
				{% if not forloop.last %}<hr>{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
