{% extends "organization/templates/pageTemplate.html" %}

{% block sidebar_id %}sidebar_members{% endblock %}

{% block page_content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="jumbotron">
		<h1>Organization Members</h1>
		<p>This is a list of the members in the organization.</p>
		<!-- using apiData|legth is somewhat hackish here. I should really be using organization.numMembers, but that doesn't fit well with the way organization object is serialized. Once I get that sorted out, this should be updated -->
		<p>You have {{ apiData|length }} member(s) of a maximum of {{ organization.maxMembers }}.</p>
		{% if organization.canAddUsers %}
		<br>
		<a class="btn btn-primary btn-lg" href="/competition/{{ organization.id }}/management/create/">Create User</a>
		{% endif %}
	</div>

	{% if apiData %}
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Username</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for i in apiData %}
			<tr>
				<td>{{ i.id }}</td>
				<td>{{ i.name }}</td>
				<td>{{ i.username }}</td>
				<td>
					<a href="/organization/{{ organization.id }}/members/edit/{{ i.id }}/" class="btn-sm btn-primary">Edit</a>
					{% if organization.canDeleteUsers %}
					<a href="/organization/{{ organization.id }}/members/delete/{{ i.id }}/" class="btn-sm btn-danger">Delete</a>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>No members have been created yet. Go ahead and make one!</p>
	{% endif %}
</div>
{% endblock %}