{% extends "sitePageTemplate.html" %}

{% block sidebarmenu %}
<ul class="sidebar-menu">
  <li class="header">MAIN NAVIGATION</li>
  <li>
    <a href="/organization/{{ organization.id }}/home">
      <i class="fa fa-home"></i> <span> Home </span>
    </a>
  </li>
  <li>
    <a href="/organization/{{ organization.id }}/settings">
      <i class="fa fa-gear"></i> <span> Settings </span>
    </a>
  </li>
  <li>
    <a href="/organization/{{ organization.id }}/members">
      <i class="fa fa-user"></i> <span> Members </span>
    </a>
  </li>

  <li class="header">PLUGINS</li>
  <li>
    <a href="/competition/{{ organization.id }}/management/summary">
      <i class="fa fa-shield"></i> <span> CDC </span>
    </a>
  </li>
</ul>
{% endblock %}
