{% extends "organization/templates/pageTemplate.html" %}

{% block page_content %}
  <section class="content-header">
    <h1>{{ organization.name }} - Settings</h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i> Site Home </a></li>
      <li><a href="/admin/home">Admin</a></li>
      <li class="active"><a href="/admin/siteconfigs"> Site Configs </a></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <p>This is the page with settings for the organization.</p>
  </section><!-- /.content -->
{% endblock %}